/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-mar-2019, 9:26:56
    Author     : Daw2
*/

table{
    border: solid;
    width: 600px;
    height: 600px;
}
td{
    border: solid;
}
/*Esta parte del css corresponde a los efectos de boton del calendario*/
.pulsar{
    border: solid;
}
.pulsar:hover{
    background-color: blue;
}
.horario{
    border: solid black;
    float: left;
}



/*---------------------------------------------------------------------------------------------------------------*/

#box{
    
    width: 250px;
    height: 250px;
    background: black;
}
#conten{
    
}
#form{
    display: block;
}